.header{
    padding: 5px 120px;
    width: 150px;
    height: 70px;
    background-color: #236B8E;
}

.border{
    padding: 80px 50px;
    width: 450px;
    height: 570px;
    border: 1px solid #87ADD9;
    border-radius: 0px;
    background-color: #87ADD9;
    position: absolute;
    top: 10%;
    left: 35%;
}

.btn {
    padding: 10px 40px;
    background-color: #236B8E;
    color: #FFFFFF;
    font-style: oblique;
    font-weight: bold;
    border-radius: 10px;
}

.textbox{
    padding: 10px 40px;
    background-color: #FFFFFF;
    text-color: #000000;
    border-radius: 10px;
    text-align: center;
}

::placeholder {
    color: #000000;
    opacity: 1;
    font-style: oblique;
    font-weight: bold;
}

.word{
    color: #FFFFFF;
    font-style: oblique;
    font-weight: bold;
}

.bottom{
    color: #236B8E;
    font-style: oblique;
    font-weight: bold;
}

div {
    text-align: center;
}

label {
    display:block;
}

body {
    background-image: url('OpenBet.jpg');
}

#industry {
    padding: 10px 0px;
    text-align: center;
}
