<html>
    <head>
        <meta charset="UTF-8">
        <title> OpenBet Assignment </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body></br></br></br></br></br>
        <div text-align=center">
            <div text-align="center" class="border">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" width="162" height="48">
                <h2 class="word">
                    <form action="{{ url_for('register') }}" method="post">
                        <div name="msg" class="msg">{{ msg }}</div>
                            <label for="email">Email Address*</label>
                            <input id="email" name="email" type="text" placeholder="Enter Your Email ID" class="textbox"/></br></br>
                            <label for="date_of_birth">Date of Birth*</label>
                            <input id="date_of_birth" name="date_of_birth" type="date" placeholder="Enter Your Date of Birth" class="textbox"/></br></br>
                            <label for="password">Password*</label>
                            <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br>
                            <label for="industry">Industry*</label>
                            <select onchange='checkIfOther()' id="industry" name="industry" type="industry" class="textbox">
                                <option value="none" selected disabled hidden>Please Select</option>
                                <option value="Agriculture">Agriculture</option>
                                <option value="IT">IT</option>
                                <option value="Education">Education</option>
                                <option value="Healthcare">Healthcare</option>
                                <option value="Unemployed">Unemployed</option>
                                <option value="Retired">Retired</option>
                                <option value="Other">Other</option>
                            </select></br></br>
                            <div id="extra" name="extra" style="display: none">
                                <label for="Specify_Industry">Specify Industry</label>
                                <input class="textbox" type="text" id="specify_industry" name="specify_industry" required disabled></br></br>
                            </div>
                            <div id="extra2" name="extra2" style="display: none">
                                <label for="occupation">Occupation</label>
                                <input class="textbox" type="text" id="occupation" name="occupation" required disabled></br></br>
                            </div>
                        <input type="submit" id="submit" class="btn" value="Sign Up"></br>
                    </form>
                </h2>
            </div>
        </div>
    <script src="{{url_for('static', filename='extra_form_fields.js')}}"></script>
    </body>
</html>


